<div class="row__for-citizens">
    <div class="text__for-citizens">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel et blandit id nam.<br><br>
    
        Eget convallis amet convallis massa nunc lacus, varius fermentum et. Venenatis nunc morbi massa pulvinar aliquet libero mattis. <br> <br> 
       
       
       Faucibus imperdiet tristique risus amet, facilisi ullamcorper malesuada sit. Elementum tortor iaculis id sed quam morbi. <br><br> 
       
       Vestibulum at hendrerit vulputate in etiam ipsum cras vitae. Non molestie nisl volutpat nisl. Diam neque, aliquam fringilla bibendum nunc pretium, quam commodo.
       
       Urna sit vulputate amet, convallis integer enim euismod ultrices arcu. Libero rhoncus, pharetra duis ut fermentum. </div><br> 
    <div class="img-box__for-citizens"><img class="lazyload" data-src="assets/img/for-citizens.png" alt=""></div>
    
    </div>
    