<header>
    <div class="container">
        <div class="row">
    <span class="iconify" data-inline="false" data-icon="ant-design:mail-outlined" style="color: #cba727; font-size: 35px;"></span>
    <div class="block__address">
        <div class="title__address">E-mail адрес</div>
        <div class="email__adress">info@lawyer.com</div>
    </div> <!-- block__address -->
    <span class="iconify" data-inline="false" data-icon="feather:phone" style="color: #cba727; font-size: 35px;"></span>
    <div class="block__phone">
        <div class="title__phone">Номер телефона</div>
        <div class="number__phone">+7(911)111-11-19</div>
    </div> <!-- block__phone -->
    <span class="iconify" data-inline="false" data-icon="bx:bx-time-five" style="color: #cba727; font-size: 35px;"></span>
    <div class="block__work-time">
        <div class="title__work-time">Время работы</div>
        <div class="work-time">Пн - Пт( 8.00 - 18.00)</div>
    </div> <!-- block__work-time -->
    <div class="clear"></div>
    <span class="iconify twitter" data-inline="false" data-icon="entypo-social:twitter" style="color: #cba727; font-size: 35px;"></span>
    <span class="iconify facebook" data-inline="false" data-icon="bx:bxl-facebook" style="color: #cba727; font-size: 35px;"></span>
    <span class="iconify vk" data-inline="false" data-icon="entypo-social:vk-alternitive" style="color: #cba727; font-size: 35px;"></span>
    <button class="question__btn">Вопрос юристу</button>
        </div> <!-- row -->
    </div> <!-- container -->
</header>