<div class="container">
    <div class="row__name">
    <div class="orange_line"></div>
    <div class="name__info">Кто такой Иван Иванов?</div>
    </div><!--  row__name -->

    <div class="row_info">
        <div class="col_1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare tellus semper amet sagittis id a. Lectus vitae magna sapien, lobortis id lorem pellentesque faucibus. Interdum pulvinar mauris suspendisse nisl elementum sit. Felis viverra mattis scelerisque dictumst magnis.

            At pretium varius turpis gravida vel nibh. Vitae aliquam libero justo quis. Nulla pulvinar nibh vel sit purus velit a rutrum. Nullam sed quam duis enim eget eget nibh curabitur. Id aliquam at ultrices amet. Aliquam, leo, sed augue cursus sit ipsum neque, vitae. 
            
            Eget massa phasellus aliquet in vulputate tempor sodales. Vitae, blandit risus aenean elementum id sit. Non nibh viverra sollicitudin pretium ipsum id faucibus malesuada viverra. Sit donec posuere diam nunc ipsum.
        </div>

        <div class="col_2">Eget sit fames diam, et posuere senectus diam in mauris. Vel id lectus ac at aliquet. Vitae aliquam id ullamcorper venenatis mattis facilisi malesuada mattis. Fermentum tempor dictum mauris a vitae facilisi a morbi. 

            Odio pharetra quis ridiculus elit at nam. Netus sit sed neque hendrerit pharetra nec velit viverra. Gravida magna ullamcorper quis imperdiet tortor, nunc morbi nunc quis. Nisl enim semper placerat fringilla nunc. 
            
            Sit etiam ultrices sodales mi praesent massa accumsan tristique. Ut ultrices et rhoncus sed egestas urna. Arcu consequat amet ac a tincidunt. 
        </div>
        
        <div class="col_form">
            <p>Закажите бесплатную консультацию</p>
            <form action="#">
                <input type="text" placeholder="Ваше имя" value="" name="name">
                <input type="text" placeholder="E-mail" value="" name="email">
                <input type="text" placeholder="Номер телефона" value="" name="phone">
                <button class="btn" id="check-modal" >Отправить</button>
            </form>
        </div>
    </div>

</div>